# Distribution file for the Rocket project.

# main repository
git / https://github.com/OpenEngineDK/openengine.git
git-dev / git@github.com:OpenEngineDK/openengine.git

# project repository
git /projects/Rocket https://github.com/OpenEngineDK/projects-Rocket.git
git-dev /projects/Rocket git@github.com:OpenEngineDK/projects-Rocket.git

# required extensions
git /extensions/SDL                    https://github.com/OpenEngineDK/extensions-SDL.git
git /extensions/OpenGLRenderer         https://github.com/OpenEngineDK/extensions-OpenGLRenderer.git
git /extensions/TGAResource            https://github.com/OpenEngineDK/extensions-TGAResource.git
git /extensions/ColladaResource        https://github.com/OpenEngineDK/extensions-ColladaResource.git
git /extensions/OpenALSoundSystem      https://github.com/OpenEngineDK/extensions-OpenALSoundSystem.git
git /extensions/GenericHandlers        https://github.com/OpenEngineDK/extensions-GenericHandlers.git
git /extensions/VorbisResource         https://github.com/OpenEngineDK/extensions-VorbisResource.git
git /extensions/Shapes                 https://github.com/OpenEngineDK/extensions-Shapes.git

git-dev /extensions/SDL                    git@github.com:OpenEngineDK/extensions-SDL.git
git-dev /extensions/OpenGLRenderer         git@github.com:OpenEngineDK/extensions-OpenGLRenderer.git
git-dev /extensions/TGAResource            git@github.com:OpenEngineDK/extensions-TGAResource.git
git-dev /extensions/ColladaResource        git@github.com:OpenEngineDK/extensions-ColladaResource.git
git-dev /extensions/GenericHandlers        git@github.com:OpenEngineDK/extensions-GenericHandlers.git
git-dev /extensions/OpenALSoundSystem      git@github.com:OpenEngineDK/extensions-OpenALSoundSystem.git
git-dev /extensions/VorbisResource         git@github.com:OpenEngineDK/extensions-VorbisResource.git
git-dev /extensions/Shapes                 git@github.com:OpenEngineDK/extensions-Shapes.git

# windows libraries
win32 /libraries http://openengine.dk/data/libraries/boost-win32.zip
win32 /libraries http://openengine.dk/data/libraries/glew-win32.zip
win32 /libraries http://openengine.dk/data/libraries/sdl-win32.zip
win32 /libraries http://openengine.dk/data/libraries/dlls-win32.zip
win   /libraries http://openengine.dk/data/libraries/colladadom2.1-win32.zip

# darwin libraries
darwin /libraries http://openengine.dk/data/libraries/colladadom2.1-osx-i32.zip
darwin /libraries http://openengine.dk/data/libraries/pcre-osx-i32.zip
darwin /libraries http://openengine.dk/data/libraries/pcrecpp-osx-i32.zip

# linux libraries
linux /libraries http://www.openengine.dk/data/libraries/collada-linux.tar.gz

# project data
any /projects/Rocket/data http://openengine.dk/data/models/rock.dae
any /projects/Rocket/data http://openengine.dk/data/models/rock.tga
